.collection{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: start;
    &__cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
        gap: 30px;
    }
    &__card{
        padding: 20px;
        width: 100%;
        min-height: 247px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: pink;
        &:nth-child(even){
          background-color: aqua;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__card__title{
        width: 100%;
        text-align: left;
    }
}